<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PandaCritic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="hero is-warning is-small">
      
     
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title">
              PandaCritic
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
            <nav class="tabs">
                    <ul>
                        <li class="is-active"><a>Overview</a></li>
                        <li><a>New Place</a></li>
                        <li><a>Your Favs</a></li>
                    </ul>
              </nav>
        </div>
      </section>
      <section>
        <div>
          <input type="text" placeholder="Search foods" id="searchFood" class="has-text-success-dark input mb-2"></input>
          <button id="savedDish" class="button is-success is-light is-fullwidth is-focused mb-3">Search...</button>
        </div>
      </section>
  

{{{ body }}}

</body>
</html>