<section class="hero is-warning is-small">

    <!-- Hero content: will be in the middle -->

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <ul>
                <li><a href="/">My Reviews</a></li>
            </ul>
        </nav>
    </div>
</section>


<div class="columns is-3">
  <div class="column is-one-third">
    <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://images.unsplash.com/photo-1564890369478-c89ca6d9cde9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGVhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
            <a href="/food">Boba Shops</a>
        </p>        
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="column is-one-third">
    <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://images.unsplash.com/photo-1563379926898-05f4575a45d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
            <a href="/restaurants">Restaurants</a>
        </p>        
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="column is-one-third">
    <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://images.unsplash.com/photo-1572302920907-288481a7835e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGJhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
            <a href="/bars">Bars</a>
        </p>        
      </div>
    </div>
  </div>
</div>
  </div>
</div>