

    <section class="hero is-warning is-small">
      
        <!-- Hero content: will be in the middle -->
      
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="tabs">
                    <ul>
                        <li class="is-active"><a>Overview</a></li>
                        <li><a>New Place</a></li>
                        <li><a>Your Favs</a></li>
                    </ul>
              </nav>
        </div>
      </section>
      <section>
        <div>
          <input type="text" placeholder="Search foods" id="searchFood" class="has-text-success-dark input mb-2"></input>
          <button id="savedDish" class="button is-success is-light is-fullwidth is-focused mb-3">Search...</button>
        </div>
      </section>
  
