
<section class="is-fullheight">
  <div class="container">
    <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
      <div class="column is-half">
        <h2 class="signup">Login</h2>
        <form action="" class="login-form box">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email" id="email-login"/>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" id="password-login"/>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field pt-5">
            <label for="" class="checkbox">
              <input type="checkbox" />
              Remember me
            </label>
          </div>
          <div class="field">
            <button class="button has-text-link-dark">
              Login
            </button>
          </div>
        </form>
      </div>

        {{! Signup code }}
        <div class="column is-flex-direction-row is-half">
        <h2 class="signup">Signup</h2>
        <form action="" class="signup-form box pb-5">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input"
                type="text"
                id="name-signup"
                placeholder="Name"
                id="name-signup"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user fa-sm"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email" id="email-signup"/>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" id="password-signup"/>
              <span class="icon is-small is-left">
                <i class="fas fa-lock" ></i>
              </span>
            </p>
          </div>
          <div class="field">
            <button class="button has-text-link-dark pt-1">
              Signup
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
</section>

<script src="./js/login.js"></script>