body{
  background-color: aliceblue;
}
h1{
  font-size: 2rem;

}
h2 {
  font-weight: 700;
}
p {
  font-size: 14px;
  line-height: 1.5;
}

h2, p{
padding-left: 2rem;
}
a .first-link{
  padding-left: 3rem;
}
.container {
  padding-top: 1rem;
}
.hero-foot{
  background-color: #485FC7;
  color: aliceblue;
}
.media {
  width: 500px;
  height: 200px;
}
.review{
  color: #222831;
  background-color: aliceblue;
  padding-top: 1rem;
}

#maps {
    height: 400px;
    width: 500px;
    border-radius: 8px;
  }

.login {
  font-size: 33px;
  height: 66px;
}

.signup {
  font-size: 33px;
  height: 66px;
}