h2 {
  font-weight: 700;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
h2, p{
padding-left: 2rem;
}
img{
  padding: 1rem 2rem 0;
}
.main{
  background-image: url(/image/sitting-panda.avif);
  background-repeat: no-repeat;

}
.hero{
  background-color: #D9F5DC;
  /* background-image: url(/image/photo-1501082924321-2822c32a913c.avif); */
}

#maps {
    height: 400px;
    width: 500px;
    border-radius: 8px;
  }